/Geometr.suo
/geometr_use.opensdf
/geometr_use.sdf
/geometr_use.sln.docstates.suo
/geometr_use.suo
/ipch
/Geometr.opensdf
/Geometr.sdf
/Geometr.sln.docstates.suo
/Render.sdf
/Render.sln.docstates.suo
/Render.suo
/Scene.sdf
/Scene.sln.docstates.suo
/Scene.suo
Release
Debug
ipch
